
:root {
    --color1: #000010;
    --color2: #1e2d4c;
    --color3: #515c95;
    --color4: #9492e8;
    --color5: #eacdff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Economica', sans-serif;
}
h1 {
    text-align: center;
    padding-top: 5px;
    line-height: 2;
    font-family: 'Amaranth', sans-serif;
}
h2 {
    font-family: 'Amaranth', sans-serif;
}
nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--color2);
    padding: 10px;
}
.submit {
    border: 1px solid var(--color5);
    padding: 5px;
    border-radius: 10px;
    width: 5rem;
    background-color: var(--color2);
    color: var(--color5);
}
.submit:hover {
    background-color: var(--color5);
    border: 1px solid var(--color2);
    color: var(--color1);
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    margin: 10px 0;
}

form {
    text-align: center;
}

.home {
    height: 80vh;
    background-image: url('./images/bg.jpg');
    background-position: center;
    background-size: cover;
    color: white;
    margin-top: 85px;
}

li a {
    color: white;
    text-decoration: none;
}
/* @media screen and (max-width: 400px) {
    h1 {
        font-size: 0.9rem;
    }
} */

@media screen and (max-width: 576px) {
    .home {
        height: 80vh;
    }

    h1 {
        padding: 10px;
    }

}
@media screen and (min-width: 760px) {
    
    .about {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 20px;
    }
    hr {
        display: none;
    }
    
}

.contain {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.price,
.specials {
    max-width: 45%;
    border: 3px solid var(--color2);
    border-radius: 10px;
    padding: 10px;
    height: 50vh;
    display: grid;
    grid-template-rows: 5fr 1fr auto;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9));
}
.image {
    background-size: cover;
    background-position: center;
}
.price .image {
    background-image: url('./images/price.jpg');
}
.specials .image {
    background-image: url('./images/specials.jpg');
}

.price button,
.specials button {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid var(--color5);
    color: white;
    background-color: var(--color2);
    padding: 5px 10px;
    text-align: center;
    width: 100%;
}

.price button:hover,
.specials button:hover {
    color: var(--color1);
    background-color: var(--color5);
    border: 1px solid var(--color1);
}

.recipes {
    background-color: var(--color2);
    color: white;
}

.recipes h2 {
    text-align: center;
    text-decoration: underline;
    padding: 2rem;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.card {
    border: 3px solid var(--color5);
    border-radius: 10px;
    background-color: var(--color5);
    margin: 0 10px 10px 10px;
    font-size: 1.1rem;
    color: #000010;
    height: 17rem;

}

.img {
    height: 40%;
    width: 100%;
}

.card:nth-of-type(1) .img {
    background-image: url('./images/dates.jpg');
    background-size: cover;
    background-position: center;
}

.card:nth-of-type(2) .img {
    background-image: url('./images/white-bread.jpg');
    background-size: cover;
    background-position: center;
}

.card:nth-of-type(3) .img {
    background-image: url('./images/turkey.jpg');
    background-size: cover;
    background-position: center;
}

.card:nth-of-type(4) .img {
    background-image: url('./images/sallad.jpg');
    background-size: cover;
    background-position: center;
}

.card:nth-of-type(5) .img {
    background-image: url('./images/potato.jpg');
    background-size: cover;
    background-position: center;
}

.card:nth-of-type(6) .img {
    background-image: url('./images/soup.jpg');
    background-size: cover;
    background-position: center;
}

.card img {
    width: 100%;

}

@media screen and (min-width: 40em) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

}

.card button {
    border-radius: 4px;
    border: 1px solid var(--color5);
    color: white;
    background-color: var(--color2);
    padding: 5px 10px;
    width: 100%;
}

.card button:hover {
    color: var(--color1);
    border-color: var(--color1);
    background-color: var(--color5);
}

.card h4 {
    text-align: center;
}

.card p {
    padding: 5px;
}

.about {
    background-color: var(--color5);
    padding: 30px;
}

footer {
    background-color: var(--color1);
    color: var(--color5);
    height: 20vh;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

footer a {
    text-decoration: none;
    color: var(--color5);
}

.icons {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

footer a:hover {
    font-size: 1.5rem;
    transition: 0.6s;
}