:root {
    --color1: #000010;
    --color2: #1e2d4c;
    --color3: #515c95;
    --color4: #9492e8;
    --color5: #eacdff;
}
body {
    background-color: var(--color2);
}

#mc_embed_signup {
    margin: 0 auto;
    border-radius: 20px;
    padding: 10px;
}

#mc-embedded-subscribe {
    color: var(--color1);
}